* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.5rem;
}

/* Header, Footer */
nav, footer {
  text-align: center;
  padding: 3px;
  background-color: #12b0e8;
  color: rgb(0, 0, 0);
}

nav > h1{
  padding: 10px;
}

/* Main Content */

#container{
  height: calc( 100vh - 118px );
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#box-inside, #randomColorBox{
  border-radius: 25px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

#randomColorBox > span, #box-inside > span{
  display: block;
  width: fit-content;
  margin: auto;
}

#randomColorBox:hover
{
  background-color: rgb(69, 245, 148);
  color: aliceblue;
  transition: 300ms;
}
